#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define NSL  2
#define ADJ  3

&mt {
    /* tapping-term-ms = <170>; */

    quick-tap-ms = <100>;

    /* flavor = "hold-preferred"; */
    /* global-quick-tap; */

    tapping-term-ms = <160>;
};

&lt {
    /* tapping-term-ms = <170>; */

    quick-tap-ms = <250>;

    /* flavor = "tap-preferred"; */
    /* global-quick-tap; */

    require-prior-idle-ms = <250>;
};

&sk { quick-release; };

/ {
    behaviors {
        /*
        *
        */

        caps_tdr: caps_tap_dance_right {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;

            /* bindings = <&smt RSHFT RALT>, <&caps_word>; */

            bindings = <&sk RALT>, <&caps_word>;
        };

        caps_tdl: caps_tap_dance_left {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&caps_word>;
        };

        /*   Custom mod-tap/layer-tap behavior.
        *   The main idea is to accomodate
        *   the one-shot (i.e. sticky) mods.
        */
        /*   Tapping the key invokes the Caps-Word
        *   behavior while holding it is used
        *   as a regular key press.
        *
        *   One thing to note here is that the second parameter
        *   is passed a dummy argument value (e.g. 0), per the 
        *   official documentation.
        */
        /*   CTRL -based behavior of what would normally be a plain SPACE.
        *   Implemented as nested mod-morphs. The main idea is that `space`
        *   and `comma` are among the most commonly typed characters; hence
        *   their optimized placement (again, not without some individual
        *   preferences).
        */
        /*   Quasi-Shift behavior for certain keys.
        *   In the traditional QWERTY layout/keyboard proper,
        *   pairs of non-alphanumeric symbols seem to be tightly coupled
        *   with one another via Shift Mod Key (e.g. / and ? ).
        *   In ZMK, there could actually be an easier way to decouple them,
        *   and, as such, this schema is also subject to revision.
        */
        /*
        *
        *
        */
    };

    macros {
        /*   Easier navigation macros.  */

        four_down: four_down_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp DOWN &kp DOWN &kp DOWN &kp DOWN>;
        };

        four_up: four_up_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp UP &kp UP &kp UP &kp UP>;
        };

        eight_down: eight_down_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp N8 &kp DOWN>;
        };

        eight_up: eight_up_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp N8 &kp UP>;
        };
    };

    /* ---------------------------------------------------------------------------------------------------------------------------------------------------- 
              ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
              ┃     b     ┃     l     ┃     d     ┃     w     ┃    z      ┃   ┃     "     ┃     f     ┃     o     ┃     u     ┃     j     ┃
              ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
              ┃     n     ┃     r     ┃     t     ┃     s     ┃    g      ┃   ┃     y     ┃     h     ┃     a     ┃     e     ┃     i     ┃
  ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
  ┃           ┃     q     ┃     x     ┃     m     ┃     c     ┃    v      ┃   ┃     k     ┃     p     ┃   - (+)   ┃   . (>)   ┃  / (<)    ┃           ┃
  ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                                      ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
                                      ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
*/

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
          &kp Q           &kp W           &kp E        &kp R             &kp T      &kp Y            &kp U              &kp I        &kp O            &kp P
          &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LCTRL D  &mt LEFT_SHIFT F  &kp G      &kp H            &mt RIGHT_SHIFT J  &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMICOLON
&kp CAPS  &kp Z           &kp X           &kp C        &kp V             &kp B      &kp K            &kp M              &kp COMMA    &kp PERIOD       &kp SLASH                &kp SQT
                                          &kp ESC      &lt 1 SPACE       &kp TAB    &lt 2 BACKSPACE  &lt 3 ENTER        &lt 4 DEL
            >;
        };

        /* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

        nav_layer {
            label = "NAV";
            bindings = <
          &trans      &kp LG(N7)  &kp LG(N8)  &kp LG(N9)  &trans      &kp DQT    &kp RA(F)  &eight_down  &eight_up  &kp RA(B)
          &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &kp LBKT    &kp RBKT   &kp LEFT   &kp DOWN     &kp UP     &kp RIGHT
&kp EXCL  &kp LG(N0)  &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &trans      &kp COLON  &kp GT     &four_down   &four_up   &kp LT     &kp FSLH
                                  &trans      &trans      &trans      &kp BSPC   &kp ENTER  &trans
            >;
        };

        /* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

        num_sym_layer {
            label = "NSL";
            bindings = <
           &kp LEFT_BRACE  &kp AMPS  &kp RBKT  &kp PIPE    &kp BSLH     &kp PRCNT  &kp N7     &kp N8     &kp N9  &kp DOT
           &kp AT          &kp LPAR  &kp RPAR  &kp AMPS    &kp ASTRK    &kp UNDER  &kp N4     &kp N5     &kp N6  &kp FSLH
&kp GRAVE  &kp CARET       &kp LBRC  &kp RBRC  &kp DOLLAR  &kp TILDE    &kp SEMI   &kp N1     &kp N2     &kp N3  &kp N0    &kp PLUS
                                     &trans    &trans      &trans       &kp RET    &kp SPACE  &kp COMMA
            >;
        };

        /* ---------------------------------------------------------------------------------------------------------------------------------------------------- */

        adjust_layer {
            label = "ADJ";
            bindings = <
        &trans  &kp F7  &kp F8  &kp F9  &kp F10          &bt BT_CLR  &trans      &trans        &trans  &trans
        &trans  &kp F4  &kp F5  &kp F6  &kp F11          &trans      &trans      &sys_reset    &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12          &trans      &trans      &trans        &trans  &trans  &trans
                        &trans  &trans  &kp LS(SPACE)    &bt BT_NXT  &bt BT_PRV  &out OUT_TOG
            >;
        };

        tvp1_layer {
            bindings = <
        &kp F12  &kp F7  &kp F8  &kp F9  &trans     &trans  &trans     &trans     &trans    &trans
        &kp F11  &kp F4  &kp F5  &kp F6  &trans     &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &trans     &trans  &trans     &trans     &trans    &trans    &trans
                         &trans  &trans  &kp TAB    &trans  &trans     &trans
            >;
        };
    };
};
