#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define NSL  2
#define ADJ  3

&mt {
    /* tapping-term-ms = <170>; */
    /* flavor = "hold-preferred"; */
    /* global-quick-tap; */

    tapping-term-ms = <180>;
    flavor = "balanced";
};

&lt {
    /* tapping-term-ms = <170>; */

    quick-tap-ms = <250>;

    /* flavor = "tap-preferred"; */
    /* global-quick-tap; */

    require-prior-idle-ms = <250>;
};

/ {
    behaviors {
        /*
        *
        */

        caps_tdr: caps_tap_dance_right {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;

            /* bindings = <&smt RSHFT RALT>, <&caps_word>; */

            bindings = <&sk RALT>, <&caps_word>;
        };

        caps_tdl: caps_tap_dance_left {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&caps_word>;
        };

        /*   Custom mod-tap/layer-tap behavior.
        *   The main idea is to accomodate
        *   the one-shot (i.e. sticky) mods.
        */
        /*   Tapping the key invokes the Caps-Word
        *   behavior while holding it is used
        *   as a regular key press.
        *
        *   One thing to note here is that the second parameter
        *   is passed a dummy argument value (e.g. 0), per the 
        *   official documentation.
        */
        /*   CTRL -based behavior of what would normally be a plain SPACE.
        *   Implemented as nested mod-morphs. The main idea is that `space`
        *   and `comma` are among the most commonly typed characters; hence
        *   their optimized placement (again, not without some individual
        *   preferences).
        */
        /*   Quasi-Shift behavior for certain keys.
        *   In the traditional QWERTY layout/keyboard proper,
        *   pairs of non-alphanumeric symbols seem to be tightly coupled
        *   with one another via Shift Mod Key (e.g. / and ? ).
        *   In ZMK, there could actually be an easier way to decouple them,
        *   and, as such, this schema is also subject to revision.
        */
        /*
        *
        *
        */
    };

    macros {
        /*   Easier navigation macros.  */
    };

    /* ---------------------------------------------------------------------------------------------------------------------------------------------------- 
              ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
              ┃     b     ┃     l     ┃     d     ┃     w     ┃    z      ┃   ┃     "     ┃     f     ┃     o     ┃     u     ┃     j     ┃
              ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
              ┃     n     ┃     r     ┃     t     ┃     s     ┃    g      ┃   ┃     y     ┃     h     ┃     a     ┃     e     ┃     i     ┃
  ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
  ┃           ┃     q     ┃     x     ┃     m     ┃     c     ┃    v      ┃   ┃     k     ┃     p     ┃   - (+)   ┃   . (>)   ┃  / (<)    ┃           ┃
  ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
                                      ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
                                      ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
*/

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
          &kp Q           &kp W           &kp E        &kp R             &kp T      &kp Y        &kp U              &kp I        &kp O            &kp P
          &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LCTRL D  &mt LEFT_SHIFT F  &kp G      &kp H        &mt RIGHT_SHIFT J  &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMICOLON
&kp CAPS  &kp Z           &kp X           &kp C        &kp V             &kp B      &kp N        &kp M              &kp COMMA    &kp PERIOD       &kp SLASH                &kp SQT
                                          &kp ESCAPE   &lt 1 SPACE       &kp TAB    &lt 3 ENTER  &lt 2 BACKSPACE    &lt 4 DEL
            >;
        };

        NAV_Layer {
            bindings = <
        &trans    &trans    &trans     &trans     &trans    &kp K_REDO  &kp K_PASTE  &kp K_COPY     &kp K_CUT    &kp K_UNDO
        &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp CAPS    &kp LEFT     &kp DOWN       &kp UP       &kp RIGHT
&trans  &trans    &trans    &trans     &trans     &trans    &kp INS     &kp HOME     &kp PAGE_DOWN  &kp PAGE_UP  &kp END     &trans
                            &trans     &trans     &trans    &kp ENTER   &kp BSPC     &kp DELETE
            >;

            label = "NAV";
        };

        SYM_layer {
            label = "SYM";
            bindings = <
           &kp LEFT_BRACE  &kp AMPS         &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE    &trans      &trans      &trans             &trans           &trans
           &kp COLON       &kp DOLLAR       &kp PERCENT           &kp CARET              &kp PLUS           &kp K_PREV  &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_FORWARD
&kp GRAVE  &kp TILDE       &kp EXCLAMATION  &kp AT_SIGN           &kp POUND              &kp PIPE           &trans      &trans      &trans             &trans           &trans         &kp K_PLAY_PAUSE
                                            &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE          &kp K_STOP  &trans      &kp K_MUTE
            >;
        };

        NUM_layer {
            bindings = <
        &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &trans  &trans     &trans     &trans    &trans
        &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
&trans  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &trans  &trans     &trans     &trans    &trans    &trans
                           &kp DOT  &kp N0  &kp GRAVE    &trans  &trans     &trans
            >;

            label = "NUM";
        };

        fun_layer {
            bindings = <
        &kp F12  &kp F7  &kp F8  &kp F9     &trans     &trans  &trans     &trans     &trans    &trans
        &kp F11  &kp F4  &kp F5  &kp F6     &trans     &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&trans  &kp F10  &kp F1  &kp F2  &kp F3     &trans     &trans  &trans     &trans     &trans    &trans    &trans
                         &trans  &kp SPACE  &kp TAB    &trans  &trans     &trans
            >;

            label = "FUN";
        };
    };
};
